.owl-carousel {
  display: flex;
  justify-content: center;
}

.slider-item.opacity-left {
  margin-right: 20px;
  opacity: 0.5;
}

.slider-item.opacity-right {
  margin-left: 20px;
  opacity: 0.5;
}

.slider-item.center {
  position: relative;

  &:before {
    content: url("../images/arrow-left.svg");
    position: absolute;
    top: 40%;
    left: -13%;
    cursor: pointer;
    z-index: 1;
  }

  &:after {
    content: url("../images/arrow-right.svg");
    position: absolute;
    top: 40%;
    right: -13%;
    cursor: pointer;
    z-index: 1;
  }
}

.play {
  position: absolute;
  left: 40%;
  top: 28%;
  cursor: pointer;
}

.media-socials__wrapper {
  display: flex;
  align-items: center;
  margin-top: 153px;
  margin-left: -27px;
}

.media-socials__card {
  max-width: 337px;
  min-height: 247px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 94px;
  margin-left: 27px;

  a {
    min-height: 54px;
  }
}

.media-socials__card:last-child {
  border: none;
}


.media-socials__logo {
  min-height: 55px;
  display: flex;
  align-items: center;
}

.media-socials__descr {
  min-height: 200px;

  p {
    font-family: GothamPro;
    font-size: 12px;
    line-height: 20px;
    min-height: 100px;
  }
}

.media-socials__date {
  font-family: GothamPro;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  margin-top: 60px;
}

.slider-item__title {
  font-family: GothamPro;
  font-size: 12px;
  line-height: 20px;
  color: #ACAFC0;
  margin-top: 10px;
}