.section-wrapper.section-wrapper-partners {
  align-items: baseline;

}

.partners {
  margin-top: 171px;
}

.section-right.firms {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 82%;
}

.partners-item {
  max-width: 187px;
  margin-left: 60px;
  margin-top: 40px;
}