- var title = 'title'

//- layout.pug
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="minimal-ui")
    title HUMO
    meta(name="description" content="humo")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    block scripts
      script(src='../src/js/index.js')
    block styles
      link(rel="stylesheet" href="../src/styles/styles.scss")
  body
    block content